In [2]:
import pandas as pd
people = {
    'first': ['Corey', 'Jane', 'John'],
    'last': ['Schafer', 'Doe', 'Doe'],
    'email': ['CMS@gmail.com', 'JaneDoe@gmail.com','JD@gmail.com']
}

dftest = pd.DataFrame(people)

In [6]:
filt = (dftest['last'] == 'Doe')

In [7]:
dftest[filt]
## same as : dftest[dftest['last'] == 'Doe']

  first last              email
1  Jane  Doe  JaneDoe@gmail.com
2  John  Doe       JD@gmail.com

In [9]:
dftest.loc[filt]

  first last              email
1  Jane  Doe  JaneDoe@gmail.com
2  John  Doe       JD@gmail.com

In [10]:
dftest.loc[filt, 'email']

1    JaneDoe@gmail.com
2         JD@gmail.com
Name: email, dtype: object

In [15]:
#filt = (dftest['last'] == 'Doe') & (dftest['first'] == 'John')
#filt = (dftest['last'] == 'Schafer') | (dftest['first'] == 'John')
#dftest.loc[filt, 'email']
dftest.loc[~filt, 'email'] # !

1    JaneDoe@gmail.com
Name: email, dtype: object

In [16]:
df = pd.read_csv('data/survey_results_public.csv', index_col = 'Respondent')
schema_df = pd.read_csv('data/survey_results_schema.csv', index_col = 'Column')
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [19]:
high_salary = (df['ConvertedComp'] > 70000)
df.loc[high_salary, ['Country', 'LanguageWorkedWith', 'ConvertedComp']]

,Country,LanguageWorkedWith,ConvertedComp
Respondent,,,
6,Canada,Java;R;SQL,366420.0
9,New Zealand,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...,95179.0
13,United States,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...,90000.0
16,United Kingdom,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;T...,455352.0
22,United States,Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript;...,103000.0
...,...,...,...
88876,United States,Bash/Shell/PowerShell;C#;HTML/CSS;Java;Python;...,180000.0
88877,United States,Bash/Shell/PowerShell;C;Clojure;HTML/CSS;Java;...,2000000.0
88878,United States,HTML/CSS;JavaScript;Scala;TypeScript,130000.0
88879,Finland,Bash/Shell/PowerShell;C++;Python,82488.0
88882,Netherlands,C#;HTML/CSS;Java;JavaScript;PHP;Python,588012.0

In [20]:
countries = ['United States', 'India', 'United Kingdom', 'Germany', 'Canada']
filt = df['Country'].isin(countries)
df.loc[filt, 'Country']

Respondent
1        United Kingdom
4         United States
6                Canada
8                 India
10                India
              ...
85642     United States
85961    United Kingdom
86012             India
88282     United States
88377            Canada
Name: Country, Length: 45008, dtype: object

In [22]:
filt = df['LanguageWorkedWith'].str.contains('Python', na = False)

In [24]:
df.loc[filt, 'LanguageWorkedWith']

Respondent
1                          HTML/CSS;Java;JavaScript;Python
2                                      C++;HTML/CSS;Python
4                                      C;C++;C#;Python;SQL
5              C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
8        Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
                               ...
84539    Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
85738      Bash/Shell/PowerShell;C++;Python;Ruby;Other(s):
86566      Bash/Shell/PowerShell;HTML/CSS;Python;Other(s):
87739             C;C++;HTML/CSS;JavaScript;PHP;Python;SQL
88212                           HTML/CSS;JavaScript;Python
Name: LanguageWorkedWith, Length: 36443, dtype: object